<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card{
            display: flex;
            align-items: center;
        }
        .card span{
            font-size: 84px;
        }
        .see{
            display: flex;
            justify-content: center;
            margin-top: 10rem;
        }
        .fa{
            padding: 2rem;
            font-size: 200px;
        }
    </style>
</head>
<body>
   <div class="see">
    <section class="card">
        <i class="fa fa-frown-o"></i>
        <span>
            404 <br>
            Page Not found
        </span>
    </section>
    </div>
    
</body>
</html>