<!doctype html>
<html lang="en">

<head>
	<title>Scholarships systems</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/navtheme.css">


</head>

<body onload="activec()">
	<div class="area">
		<div class="sidearea">
			<nav id="sidebar">
				<div class="p-4">
					<div class="logo">
						<h1>Scholarships<span>system</span></h1>
					</div>
					<div class="menu-items">
						<ul class="list-unstyled components mb-5">
							<li class="list" id="1">
								<a href="/users/homepage">
									<i class="mu fa fa-home"></i>
									<span>หน้าหลัก</span>
								</a>
							</li>
							<li class="list" id="2">
								<a href="/users/scholarship">
									<i class="mu fa fa-book"></i>
									<span>รายการทุนการศึกษา</span>
									<span>
								</a>
							</li>
							<li class="list" id="3">
								<a href="/users/pinscholarship">
									<i class="mu fa fa-thumb-tack"></i>
									<span>ทุนการศึกษาที่ปักหมุด</span>
								</a>
							</li>
							<li class="list" id="4">
								<a href="/users/filter">
									<i class="mu fa fa-filter"></i>
									<span>การค้นหาแบบคัดกรอง</span></a>
							</li>
						</ul>
					</div>
					<div class="Borlogout">
						<a href="/users/logout" class="logout"><span class="mu fa fa-sign-out"></span>ออกจากระบบ</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="dearea">
			<aside class="article">