<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .card{
            display: flex;
            align-items: center;
        }
        .card span{
            font-size: 84px;
        }
        .see{
            display: flex;
            justify-content: center;
            margin-top: 15rem;
        }
        .card i{
            padding: 5rem;
            font-size: 200px;
        }
    </style>
</head>
<body>
   <div class="see">
    <section class="card">
        <i class="glyphicon glyphicon-minus-sign"></i>
        <span>
            401 - Unauthorized
        </span>
    </section>
    </div>
    
</body>
</html>